.flash-sale {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 20px 0;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff6b6b;
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      width: 50px;
      height: 4px;
      background: #ffcc5c;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }
  }

  .countdown-timer {
    font-size: 2rem;
    font-weight: bold;
    color: #ff4500;
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6),
      0 0 30px rgba(255, 69, 0, 0.4);
    animation: flicker 1.5s infinite alternate;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
      text-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
    }
    100% {
      opacity: 0.8;
      text-shadow: 0 0 15px rgba(255, 69, 0, 1);
    }
  }

  .flash-sale-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .product-image {
      width: 80%;
      margin-bottom: 15px;
      border-radius: 8px;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      color: #d32f2f;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .danger-effect {
      background: linear-gradient(45deg, #ff0000, #f7fd53);

      color: white;
      padding: 5px 10px;
      border-radius: 8px;
      font-weight: bold;
      transition: 0.3s;
      border: none;
    }

    .danger-effect:hover {
      background: linear-gradient(45deg, #f7fd53, #ff0000);
      box-shadow: 0 0 15px rgba(40, 167, 69, 0.5);
    }
  }
}
